.header {
  display: flex;
  align-items: center;

  height: 3.6rem;
  padding: 0 1rem;

  // Avatar
  img {
    width: 30px;
    border-radius: 100%;
    margin-right: 1.935rem;
  }

  // Title
  span {
    font-size: 1.27rem;
    font-weight: 900;
  }

  background-color: #fff;
  border-bottom: 1px solid rgb(196, 207, 214);
}
